* {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  color: rgb(0, 0, 0);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.app-background {
  background-color: #bee3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  background-color: #ffffff;
  width: 500px;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}

.title {
  text-align: center;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px #fbc1bb solid;
  padding-bottom: 10%;
}

.item-details{
  display: contents;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ffffff;
  padding: 20px 0 20px 0;
  padding-bottom: 10%;
}

.details{
    font-weight: bold;
    padding-top: 10%;
}

.item-name {
  cursor: pointer;
  padding-bottom: 16%;
}

.item-price {
  position: absolute;
  padding-top: 7%;
  display: flex;
}

.img {
  width: 150px; 
  height: 150px;
} 

.item-name svg {
  margin-left: 5px;
  margin-right: 5px;
}
